:root {
  --tip-color: gold;
}

* {
  box-sizing: border-box;
}

.App {
  overflow-x: hidden;
}

.navbar {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 3rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 1rem;
  height: 100%;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-size: calc(5px + 2vmin);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #282c34;
  color: #fff;
  padding: 0;
  margin-left: -0.6rem;
}

.dropdown li {
  list-style: none;
  width: 100%;
  border: 1px solid #fff;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown li:hover {
  background-color: #fff;
  border: 1px solid #000;
}

.dropdown li:hover > a {
  color: #282c34;
  font-weight: 400;
}

.dropdown li a {
  text-decoration: none;
  color: #fff;
  font-size: calc(3px + 2vmin);
}

.nav-item:first-child:hover > .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  background-color: #81A684;
  background-image: url('./Images/home.png'), url('./Images/rubik.jpg');
  background-repeat: no-repeat, no-repeat;
  background-clip: border-box, border-box;
  background-origin: border-box, border-box;
  background-position: right, right;
  background-size: cover, cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.header {
  font-size: calc(30px + 2vmin);
  margin-bottom: 2rem;
}

.intro {
  max-width: 60%;
  font-size: calc(8px + 2vmin);
}

.introduction-section {
  background-color: #0C7489;
  padding: 3rem;
}

.guide {
  background-color: #57886C;
  padding: 3rem;
}

.sub-header {
  font-size: calc(12px + 2vmin);
  margin-bottom: 1rem;
}

.block-matrix {
  width: 10rem;
  height: 7.5rem;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.block {
  width: 33.33333%;
  height: 33.33333%;
  border: 1px solid black;
  list-style: none;
}

.block-matrix:nth-child(1) {
  transform: scaleY(0.59) rotate(45deg);
  /* top:92.5px;
  left:211px; */
}

.block-matrix:nth-child(2) {
  transform: scale(0.81) rotate(30deg) skew(30deg);
  /* top: 173px;
  left:169px; */
}

.block-matrix:nth-child(3) {
  transform: scale(0.81) rotate(-30deg) skew(-30deg);
  /* top: 189px;
  left:253px; */
}

.block-matrix:nth-child(4) {
  transform: scaleY(0.59) rotate(45deg);
  /* top:92.5px;
  left:11px; */
}

.block-matrix:nth-child(5) {
  transform: scale(0.81) rotate(30deg) skew(30deg);
  /* top: 173px;
  left:-30px; */
}

.block-matrix:nth-child(6) {
  transform: scale(0.81) rotate(-30deg) skew(-30deg);
  /* top: 189px;
  left:53px; */
}

.step-body-wrapper {
  display: flex;
  justify-content: space-around;
}

.tip {
  color: var(--tip-color);
}